*{
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8dae054;
    width: 100%;
  height: auto;
    position: relative;
  overflow-x: hidden;
   
  
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
   position: relative;
   height: 100%;
   overflow-x: hidden;
   padding-bottom: 2rem;

  
  
  
}

.header_items{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  
    
}

.logo{
    margin-top: 2rem;
    width: 10rem;
    
    
    }

    .header_sections{
        display: flex;
        flex-direction: column;
        align-items: center;

       
        
    }
    
    .top_photos{
        display: flex;
        flex-direction: column;
        align-items: center;
       width: 100%;
        position: relative;
    
      
        
    
    }
    .top-back{
        position: absolute !important;
        width: 30rem;
        top: -12rem;
      
    }

    .header_words{
        text-align: center;
        z-index: 5000;
    }

    h1{
        margin-top: 4rem;
        font-size: 40px;
        font-weight: bold;
        color: #333950;
        margin-bottom: 1rem;
    }

    .header_words p{
        font-size: 16px;
        color: #747B95;
        line-height: 1.5rem;
        width: 327px;
    }
    
    