*{
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8dae054;
    width: 100%;
  height: auto;
    position: relative;
  overflow-x: hidden;
   
  
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
   position: relative;
   height: 100%;
   overflow-x: hidden;
   padding-bottom: 2rem;

  
  
  
}


footer{
    width: 100%;
    height: 70rem;
    background-color: #25293A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    /* background-image: url('imgs/home/bg-pattern-footer.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.header_items{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
}

.header_sections{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

.top_photos{
    display: flex;
    flex-direction: column;
    align-items: center;
   width: 100%;
    position: relative;

  
    

}

.logo{
margin-top: 2rem;
width: 10rem;


}

.charts{
    width: 15rem;
    margin-top: 4rem;
    z-index: 99;
}

.top-back{
    position: absolute !important;
    width: 30rem;
    top: -12rem;
  
}

.header_words{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4rem;
    width: 100%;
   
    text-align: center;
   
}

h1{
    
    font-weight: bold;
    font-size: 40px;
    color: #333950;
    margin-bottom: 1rem;
    line-height: 3rem;
}

h2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.headerp{
    color: #747B95;
    font-size: 16px;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    
}

a{
    display: inline-block;
    color: #fff;
    background-color: #5175FF;
    padding: 1.5rem 3rem;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
    font-weight: bold;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
    height: 55rem;
    overflow: hidden;
}

.main-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    position: absolute;
    z-index: 900;
    overflow: hidden;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.card1{
    background-color: #fff;
}

.card2{
    background-color: #5175FF;
    /* background-image: url('imgs/home/bg-pattern-pricing.svg');
    background-repeat: no-repeat;
    background-position: top ;
    background-size: cover; */
    position: relative;
    overflow: hidden;
}

.card2  p{
    color: #fff;
}

.card2 h2{
    color:#fff
}

.card-button{
    color: #5175FF;
    background-color: #97979756;
}

.pro-button{
    background-color: #fff;
    color: #5175FF;
}

.tablet-white{
    background-color: #fff;
}

.pricing{
    position: absolute;
    top: -27rem;
    width: 60rem;
   
}

.card3{
    background-color: #fff;
}


.button{
    align-self: auto;
    margin-bottom: 3rem;
}

.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.stats p{
    margin-bottom: 2rem;
}

.bigp{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.tablet{
    display: none;
}



@media screen and (min-width:768px) {
    .header_sections{
      
        flex-direction: row;
        margin-top: 4rem;
        
    }

    .pricing{ position: absolute; top: -22rem; left: -20rem; width: 60rem;
    z-index:0; }

   

    .header_items{
        padding: 2rem;
        max-width: 900px;
    }

    .top_photos{
       order: 5;
       
    }

    .top-back{
        position: absolute !important;
        width: 45rem;
        top: -23rem;
        left: 0rem;
      
    }

    .logo{
    align-self: flex-start;
         
}

.charts{
            margin-top: 0rem;
            width: 20rem;
            position: relative;
            top: 2rem;
            left: 1rem;
        }

        .header_words{
           text-align: left;
           padding: 0rem;
           
        }

        a{
           align-self: flex-start;
        }

        .card{
            flex-direction: row;
            justify-content: space-between;
            padding: 2rem;
        }

       main{
           height: 30rem;
       }

       footer{
           height: 50rem;
       }

       .cardwords{
           text-align: left;
           margin-left: 3rem;
           display: flex;
           flex-direction: column;
           align-items: baseline;
           justify-content: flex-start;
       }

       .cardwords h2{
           margin-top: 0rem;
       }

       .stats{
           flex-direction: column;
         align-items: flex-start;
         margin-right: 4rem;
       }

       .tablet{
           display: block;
           text-align: left;
           margin-top: 2rem;
           margin-bottom: 0rem;
            padding: 1rem 2rem;
       }

       .mobile{
           display: none;
       }

       .main-items{
           max-width: 900px;
       }

       .top_photos{
           align-items: flex-end;
       }
}



@media screen and (min-width:1024px){
    
.header_sections{
    margin-top: 2rem;

}

.header_items{
    padding: 2rem;
    max-width: 950px;
}


    h1{
        font-size: 44px;
    }

    .header_words{
        padding-right: 3rem;
    }

    .headerp{
      
        font-size: 18px;
        line-height: 2rem;
     
        
    }
    
    
    
    .charts{
       
        width: 24rem;}

        .main-items{
            max-width: 950px;
        }


}



@media screen and (min-width:1300px) {
    .header_items{
        max-width: 1250px;
    }

    h1{
        font-size: 56px;
        line-height: 4rem;
    }

    main{
        margin-top: 10rem;
    }

    .charts{
       
        width: 29.6rem;}

        .top-back{
            position: absolute !important;
            width: 63rem;
            top: -33rem;
            left: -4rem;
          
        }

        .main-items{
            flex-direction: row;
            max-width: 1250px;
            justify-content: space-around;
        }

        .card{
            flex-direction: column;
            justify-content: space-around;
          width: 350px;
          
        }

        .card2{
            margin-left: 2rem ;
            margin-right: 2rem;
        }

        .header_sections{
            margin-top: 4rem;
        }

        main{
            height: 17rem;
        }

        footer{
            height: 35rem;
        }

        .cardwords{
            margin-left: 0rem;
            align-items: center;
        }
      
          .stats{
              text-align: center;
              justify-content: center;
              align-items: center;
              margin-right: 0rem;
          }
}

@media screen and (min-width:1440px){
    .header_sections{
        margin-top: 5rem;
    }

    .card{
        text-align: center;
    }

  
}