*{
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8dae054;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
    overflow-x: hidden;
  
  
}

.header_items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_photos{
    display: flex;
    flex-direction: column;
    align-items: center;
   width: 100%;
    max-width: 500px;
    position: relative;

}

.logo{
margin-top: 2rem;
width: 10rem;


}

.charts{
    width: 15rem;
    margin-top: 4rem;
}

.top-back{
    position: absolute;
    width: 30rem;
    top: -12rem;
}

.header_words{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4rem;
    width: 100%;
    max-width: 600px;
   
}

h1{
    
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #333950;
    margin-bottom: 1rem;
    line-height: 3rem;
}

.headerp{
    color: #747B95;
    font-size: 16px;
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    
}

a{
    display: inline-block;
    color: #fff;
    background-color: #5175FF;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    font-weight: bold;

}

@media screen and (min-width:768px) {
  
}