*{
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8dae054;
    width: 100%;
  height: auto;
    position: relative;
  overflow-x: hidden;
   
  
}

header{
    width: 100%;
    display: flex;
  justify-content: center;
   position: relative;
   height: 100%;
   overflow-x: hidden;
   padding-bottom: 2rem;

  
  
  
}

.header_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
  
  
    
}

.logo{
    margin-top: 2rem;
    width: 10rem;
    
    
    }

    .header_sections{
        display: flex;
        flex-direction: column;
        align-items: center;
       
        

       
        
    }
    
    .top_photos{
        display: flex;
        flex-direction: column;
        align-items: center;
       width: 100%;
        position: relative;
    
      
        
    
    }
    .top-back{
        position: absolute !important;
        width: 30rem;
        top: -12rem;
      
    }

    .header_words{
        text-align: center;
        z-index: 5000;
       
    }

    h1{
        margin-top: 4rem;
        font-size: 40px;
        font-weight: bold;
        color: #333950;
        margin-bottom: 1rem;
        max-width: 600px;
    }

    h2{
        color: black;
        font-weight: bold;
        letter-spacing: 0.3rem;
        margin-bottom: 2rem;
        
    }

    span{
        color: #5175FF;
        
    }

    .header_words p{
        font-size: 16px;
        color: #747B95;
        line-height: 1.5rem;
        padding: 1rem;
       
    }

    .boxs{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 1rem;
    }
    
    .box{
        display: flex;
        flex-direction: column;
        background-color: #e8ebf8;
        padding:1rem ;
        text-align: center;
        border-radius: 0.5rem;
    }
    
    .smallgrey{
        color: #979797;
        font-weight: bold;
    }
    
    .white{
        color: #5175FF;
        font-size: 32px;
        font-weight: bold;
    }

    .coming-soon{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }

    #form-section{
     
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 15rem;
    }


    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        position: absolute;
        overflow: hidden;
        z-index: 500;
        min-width: 327px;
        max-width: 600px;
        
        
    }
    select{
        position: relative;
        border-style: hidden;
        border-bottom: 1px solid grey;
        margin-bottom: 1rem;
        font-size: 16px;
        padding: 1rem;
        text-align: left;
       width: 90%;
    }

    input{
        border-style: hidden;
        border-bottom: 1px solid grey;
        margin-bottom: 1rem;
        font-size: 16px;
        padding: 1rem ;
        width: 90%;
      }

      .no-outline:focus {
        outline: none;
      }

    .choices{
        position: absolute;
        top: 4rem;
    }

    .button{
        color: #fff;
        background-color: #5175FF;
        width: 90%;
        padding: 1rem 2rem;
        border-radius: 2rem;
        font-weight: bold;
    }

    .bold{
        font-weight: bold;
        color: #333950;
    }

    footer{
        width: 100%;
        height: 20rem;
        background-color: #333950;
        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;
      
    }
    

    footer img{
        position: absolute;
        top: -25rem;
        z-index: 0;
        width: 70rem;
        
    }
    
    